@tailwind base;
@tailwind components;
@tailwind utilities;

.text-green-500 {
    color: #00cc00; 
  }
  
  .text-red-500 {
    color: #ff0000;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a5568;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #2d3748;
  }
  